@import url('reset.css');

body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

:root{
  --pri-color: #c30d22;
  --pri-hover: #9f1f24;
}

*{
  box-sizing: border-box;
}

a{
  color: #333;
  text-decoration: none;
}

input, textarea, button{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.wrapper{
  display: flex;
}

.rwd-mask{
  display: none;
}

nav{
  background-color: #f6f6f6;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

nav > i{
  display: none;
}

main{
  flex-grow: 1;
  margin-left: 250px;
}

/* -------------- Global Popup -------------- */
.popup-mask{
  background-color: rgba(0,0,0,.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.popup{
  max-width: 80%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 30px;
}

.popup i{
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.popup h1{
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.popup p{
  text-align: center;
  margin-bottom: 30px;
}

.popup button{
  display: block;
  background-color: var(--pri-color);
  border: 0;
  height: 40px;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
  border-radius: 5px;
}


/* -------------- Bottom Player -------------- */
.player{
  width: 100vw;
  height: 80px;
  background-color: #311717;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* info */
.player-info{
  display: block;
  color: white;
  flex-grow: 1;
}

.player-info img{
  height: 60px;
  margin-right: 10px;
  float: left;
}

.player-info h2{
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}

.player-info span{
  display: block;
  font-size: 13px;
  opacity: .5;
}
/* control */
.player-control{
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-control i{
  font-size: 38px;
  margin: 0 10px;
  cursor: pointer;
  opacity: .7;
}

.player-control i:first-child, .player-control i:last-child{
  font-size: 18px;
}

.player-control i:hover{
  transform: scale(1.2);
  opacity: 1;
}
/* volume */
.player-volume{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.player-volume i{
  margin-right: 10px;
  font-size: 18px;
}

.player-volume_bar{
  width: 100px;
  height: 5px;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
}

.player-volume_bar p{
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
}


/* -------------- Left Navigation -------------- */
nav .logo{
  display: block;
}

nav .logo img{
  display: block;
  width: 150px;
  margin: 30px auto 50px;
}

.nav-main{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin: 0 20px;
  font-size: 18px;
  border-bottom: 1px solid #e5e5e5;
}

.nav-main li{
  margin-bottom: 5px;
}

.nav-main li a{
  display: block;
  line-height: 2.5;
  padding: 0 20px;
  border-radius: 50px;
}

.nav-main li i{
  margin-right: 15px;
}

.nav-main li a:hover{
  background-color: #e5e5e5;
}

.nav-sub{
  padding-top: 20px;
}

.nav-sub li{
  margin: 0 20px;
}

.nav-sub li a{
  display: block;
  line-height: 2.5;
  padding-left: 30px;
  cursor: not-allowed;
}

.nav-sub li a:hover{
  color: var(--pri-color);
}

/* -------------- Right Top -------------- */
.top{
  height: 60px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  position: fixed;
  left: 250px;
  top: 0;
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

/* Search */
.top-search{
  padding-left: 30px;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  margin-right: auto;
  position: relative;
  top: -50px;
  opacity: 0;
}

.top-search i{
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-right: 0;
  border-radius: 50px 0 0 50px;
  background-color: #f6f6f6;
}

.top-search input{
  width: calc(100% - 50px);
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 0 50px 50px 0;
  border-left: 0;
  outline: 0;
  background-color: #f6f6f6;
}

.top-search input::placeholder{
  color: #ccc;
}

/* No Login */
.top-nologin{
  padding-right: 30px;
}

.top-nologin a{
  display: block;
  background-color: var(--pri-color);
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 20px;
  color: white;
  height: 40px;
  line-height: 40px;
}

.top-nologin i{
  margin-right: 10px;
}

.top-nologin a{}

.top-nologin a:hover{
  background-color: var(--pri-hover);
}

/* Login */
.top-login{
  padding-right: 20px;
  display: flex;
}

.top-login .top-userhead{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.top-login .top-userhead img{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.top-upload{
  background-color: var(--pri-color);
  color: white;
  padding: 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  line-height: 40px;
}

.top-upload img{
  margin-right: 10px;
}


/* -------------- Right Content -------------- */
.content{
  margin-top: 60px;
  padding: 1px 30px 70px;
}

/* -------------- Authentication succeeded -------------- */
.au-su{
  background-image: url(../img/success_bg.png);
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.au-su img{
  width: 200px;
}

.au-su h1{
  font-size: 24px;
  font-weight: bold;
}

.au-su p{
  margin-bottom: 30px;
}

.au-su a{
  display: inline-block;
  margin: 0 auto;
  background-color: var(--pri-color);
  color: white;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 5px;
}

/* -------------- Verification Code -------------- */
.vf-code{
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.vf-code h1{
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.vf-code > p{}

.vf-code form{
  margin-bottom: 20px;
}

.vf-code form p{
  margin-bottom: 10px;
  color: var(--pri-color);
}

.vf-code form input[type='tel']{
  width: 40px;
  height: 45px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  line-height: 24px;
  margin: 0 5px;
}

.vf-code form input[type='submit']{
  display: block;
  width: 200px;
  height: 40px;
  background-color: var(--pri-color);
  margin: 50px auto 0;
  border: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.vf-code a{
  text-align: center;
  background-color: transparent;
  color: #333;
  padding: 0;
  border-radius: 0;
  font-size: 13px;
}






