/* -------------- Right AD -------------- */
.top-ad{
  display: block;
  margin-top: 30px;
  color: white;
  width: calc(100vw - 330px);
  position: relative;
  overflow-x: hidden;
}

.top-ad .ad-text{
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.top-ad h2{
  font-size: 32px;
  font-weight: 700;
}

.top-ad p{
  padding-right: 20px;
  font-size: 24px;
}

.top-ad img{}

/* -------------- Right List -------------- */
.list-title{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list{
  display: flex;
  flex-wrap: wrap;
}

.list li{
  margin-right: 40px;
  margin-bottom: 30px;
}

.list a{
  display: block;
  text-align: center;
  position: relative;
}

.list div{
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.list img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.list h2{
  font-size: 18px;
}

/* Square List */
.list-square div{
  border-radius: 0;
  background-color: #f6f6f6;
}

.list-square span{
  color: #999;
  display: block;
  font-size: 13px;
}

.list-square i{
  display: none;
  line-height: .5;
  position: absolute;
  left: 90px;
  top: 90px;
  transform: translate(-50%, -50%);
  font-size: 72px;
  color: var(--pri-color);
  background-image: radial-gradient(#fff 20%, transparent);
  border-radius: 50%;
  z-index: 1;
}

.list-square a:hover i{
  display: block;
}