
@media screen and (max-width: 768px) {
  
  .wrapper{
    flex-direction: column;
  }

  .rwd-mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
  }

  nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 0 20px; 
  }

  nav > i{
    display: block;
    font-size: 24px;
  }

  nav .logo{}

  nav .logo img{
    height: 36px;
    margin: 0;
  }

  .nav-main{
    position: fixed;
    left: -60vw;
    top: 60px;
    margin: 0;
    width: 60vw;
    height: calc(100vh - 60px);
    padding-top: 20px;
    background-color: #fff;
    transition: 1s;
  }

  .nav-sub{
    position: fixed;
    left: -60vw;
    top: 340px;
    width: 60vw;
    border-top: 1px solid #e5e5e5;
    transition: 1s;
  }

  main{
    margin-left: 0;
  }

  .top{
    position: fixed;
    right: -60vw;
    top: 60px;
    width: 60vw;
    left: auto;
    border-bottom: 0;
    height: calc(100vh - 60px);
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    transition: 1s;
  }

  .top-nologin{
    padding-right: 0;
  }

  .top-login{
    flex-direction: column;
    padding-right: 0;
  }

  .top-login .top-userhead{
    margin-right: 0;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .top-login .top-userhead img{
    width: 100px;
    margin-bottom: 10px;
  }

  .top-upload{}

  .top-search{
    position: fixed;
    left: 0;
    top: auto !important;
    bottom: -50px;
    padding-left: 10px;
    width: 60vw;
  }

  .top-search input{
    width: calc(100% - 60px);
  }

  .content{
    padding: 0 20px 50px;
    margin-top: 80px;
  }

  .top-ad{
    margin-top: 30px;
    height: 150px;
    overflow: hidden;
  }

  .top-ad .ad-text{
    left: 0;
    bottom: 0;
    padding: 20px;
  }

  .top-ad h2{
    font-size: 18px;
  }

  .top-ad p{
    font-size: 13px;
  }

  .top-ad img{
    width: auto;
    height: 100%;
  }

  .top-user_dropdown{
    position: static;
    margin-bottom: 20px;
  }

  .top-user_dropdown:before, .top-user_dropdown:after{
    display: none;
  }

  .list-title{
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .list{
    flex-wrap: nowrap;
    overflow: scroll;
    margin: 0 -20px;
  }

  .list li{
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .list-square i{
    left: 60px;
    top: 60px;
    font-size: 48px;
  }

  .list img{
    width: 120px;
  }

  .list h2{
    font-size: 16px;
    line-height: 1.2;
  }

  /* -------------- Song Detail -------------- */
  .song-detail_out{
    width: auto;
  }

  .song-detail_head{
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .song-detail_head > img{
    margin-right: 0;
  }

  .song-detail_singer{}

  .song-detail_singer h1{
    text-align: center;
    font-size: 24px;
    padding: 20px;
  }

  .song-detail_singer p{
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
    text-align: center;
  }

  .song-detail_info{
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
  }

  .song-detail_info li{}

  .song-detail_btns{
    justify-content: center;
    flex-wrap: wrap;
  }

  .song-detail_btns li{
    margin: 0 5px;
    flex-basis: 30%;
    margin-top: 10px;
  }

  .song-detail_btns li:nth-child(4){
    flex-basis: calc(100% - 18px);
  }

  .song-detail_btns button{
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    color: #333;
  }

  .song-detail_more h3{
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .song-detail_more ul{
    overflow: auto;
  }

  .song-detail_more li{
    margin-right: 20px;
  }

  .song-detail_more img{
    width: 120px;
  }

  .song-detail_more h2{
    font-size: 16px;
    line-height: 1.2;
  }

  .song-detail_more i{
    left: 60px;
    top: 60px;
    font-size: 48px;
  }

  .song-detail_comments{}

  .song-detail_comments h3{
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .comments-text form{}

  .comments-text div{
    margin-bottom: 10px;
  }

  .comments-text button{}

  /* -------------- User -------------- */
  .user-out{
    width: auto;
  }

  .user-head{
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .user-head_imgOuter{}

  .user-head_imgInner{
    margin-right: 0;
  }

  .user-head_imgInner img{}

  .user-head_info h1{
    text-align: center;
  }

  .user-head_info p{
    text-align: center;
  }

  .user-head_info ul{
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-head_info ol{
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-head_info ol li{
    margin: 0 5px 10px;
    width: 30%;
  }

  .user-head_info ol button{
    width: 100%;
    font-size: 14px;
    color: #333;
  }

  .user-head_info ol li:nth-child(4){
    flex-basis: calc(100% - 18px);
  }

  .user-head_info ol li:nth-child(4) button{
    width: 100%;
  }

  .user-tracks ul li{
    padding: 10px 0;
  }

  /* -------------- Sign in -------------- */
  .signin-wrapper{
    margin-top: 60px;
    padding-top: 30px;
  }

  .signin-out{
    height: auto;
    flex-direction: column;
  }

  .signin-out > div{
    width: 95%;
    height: auto;
  }

  .signin-email ul{
    margin-top: 30px;
  }

  /* -------------- Composer -------------- */
  .composer-out{
    width: auto;
  }

  .composer-out h1{
    font-size: 32px;
    text-align: center;
  }

  .composer-main{
    flex-direction: column;
    align-items: center;
  }

  .img-upload-block{
    width: 300px;
    margin-right: 0;
  }

  .img-upload{
    height: 300px;
  }

  .up-copyright input[type="range"]{
    width: 80%;
  }


  /* -------------- Message & VF-code -------------- */
  .au-su{
    padding: 0 20px;
    margin-top: 60px;
    background-image: url(../img/success_bg_mobile.png);
  }

  .vf-code{
    background-color: #fff;
    width: 95%;
  }

  .vf-code form input[type='tel']{
    width: 12%;
  }


  /* -------------- Player -------------- */
  .player{}

  .player-control{
    flex-grow: 0;
  }

  .player-control i{
    display: none;
  }

  .player-control .bi-play-circle{
    display: block;
  }

  .player-volume{
    display: none;
  }

}














