
.song-detail_out{
  width: 1020px;
  margin: 50px auto 0;
}

/* --------------- Head --------------- */
.song-detail_head{
  display: flex;
  align-items: flex-start;
  background-color: #f6f6f6;
  margin-bottom: 30px;
}

.song-detail_cover{
  width: 280px;
  height: 280px;
  flex-shrink: 0;
  margin-right: 20px;
  position: relative;
}

.song-detail_cover img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.song-detail_singer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.song-detail_singer h1{
  font-size: 42px;
  font-weight: 900;
  padding: 20px 0;
  line-height: 1.2;
}

.song-detail_singer p{
  margin-bottom: 20px;
  padding-right: 20px;
  font-size: 15px;
}

/* info */
.song-detail_info{
  display: flex;
  margin-top: auto;
  padding-bottom: 20px;
}

.song-detail_info li{
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #999;
}

.song-detail_info i{
  margin-right: 5px;
}

.song-detail_info img{
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.song-detail_info a{
  font-weight: 700;
  color: #333;
}

.song-detail_info a:hover{
  color: var(--pri-color);
}

/* Btns */
.song-detail_btns{
  display: flex;
}

.song-detail_btns li{
  margin-right: 10px;
}

.song-detail_btns button{
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  cursor: pointer;
  font-size: 18px;
}

.song-detail_btns .song-detail_play{
  background-color: var(--pri-color);
  color: white;
  border: 0;
}

.song-detail_btns i{
  margin-right: 10px;
}

/* --------------- More --------------- */
.song-detail_more{
  margin-bottom: 30px;
}

.song-detail_more h3{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.song-detail_more ul{
  display: flex;
}

.song-detail_more li{
  margin-right: 30px;
}

.song-detail_more a{
  display: block;
  text-align: center;
  position: relative;
}

.song-detail_more div{
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
  position: relative;
  background-color: #f6f6f6;
}

.song-detail_more img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.song-detail_more h2{}

.song-detail_more i{
  display: none;
  line-height: .5;
  position: absolute;
  left: 90px;
  top: 90px;
  transform: translate(-50%, -50%);
  font-size: 72px;
  color: var(--pri-color);
  background-image: radial-gradient(#fff 20%, transparent);
  border-radius: 50%;
  z-index: 1;
}

.song-detail_more a:hover i{
  display: block;
}

/* --------------- Comments --------------- */
.song-detail_comments{}

.comments-text{
  padding-top: 30px;
  padding-bottom: 20px;
}

.comments-text img{}

.comments-text h4{}

.comments-text form{
  display: flex;
}

.comments-text form div{
  background-color: #f0f2f5;
  padding: 10px 15px;
  border-radius: 30px;
  outline: 0;
  margin-right: 10px;
  flex-grow: 1;
}

.comments-text div[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  color: #999;
}

.comments-text button{
  background-color: var(--pri-color);
  color: white;
  border: 0;
  border-radius: 50px;
  height: 45px;
  padding: 0 20px;
}

.song-detail_comments h3{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;
}

.song-detail_comments ul{}

.song-detail_comments li{
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}

.song-detail_comments .comments-head{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  float: left;
}

.song-detail_comments img{
  max-width: 30px;
  max-height: 30px;
}

.song-detail_comments h4{
  font-weight: 700;
  margin-left: 40px;
}

.song-detail_comments p{
  margin-left: 40px;
}

.song-detail_comments span{
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 13px;
  color: #ccc;
}

/* --------------- Composer Confirm --------------- */
.publish-confirm{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.publish-confirm a{
  background-color: var(--pri-color);
  padding: 0 30px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin: 0 20px;
}

.publish-confirm i{
  margin-right: 10px;
}

.publish-confirm a:first-child{
  background-color: #ccc;
  color: #333;
}

.publish-caption{
  border: 1px solid #e5e5e5;
  padding: 20px;
  margin-top: 100px;
  color: #999;
  font-size: 13px;
  line-height: 2;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.publish-caption b{
  font-weight: bold;
}







